<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_TagmachineHot_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,140},{92,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,109}}</string>
                <key>sourceSize</key>
                <string>{92,109}</string>
            </dict>
            <key>c_TagmachineNew_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,140},{96,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,113}</string>
            </dict>
            <key>c_vcvipSlotEnterImg01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,210},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>lb_MobileClassicArrow02_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,140},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>lb_MobileClassicArrow03_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,203},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>lb_MobileClassicArrow04_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,203},{61,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,36}}</string>
                <key>sourceSize</key>
                <string>{61,36}</string>
            </dict>
            <key>lb_MobileClassicText01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,140},{61,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,137}}</string>
                <key>sourceSize</key>
                <string>{61,137}</string>
            </dict>
            <key>lb_MobileLobbyBeam_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{137,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,632}}</string>
                <key>sourceSize</key>
                <string>{137,632}</string>
            </dict>
            <key>lb_MobileLobbyText01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,140},{68,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,119}}</string>
                <key>sourceSize</key>
                <string>{68,121}</string>
            </dict>
            <key>lb_MobileLoungeText01_mb.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,140},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>c_lbNewMainAtlas_mb.png</string>
            <key>size</key>
            <string>{634,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc17db9e2561db84f137518a01efbab:130e9f4159472e856bd248b49850f2cd:54f5607fb2c6b148aa4b5d0f62c0b909$</string>
            <key>textureFileName</key>
            <string>c_lbNewMainAtlas_mb.png</string>
        </dict>
    </dict>
</plist>
