<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_MobileLobby_Floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{442,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,336}}</string>
                <key>sourceSize</key>
                <string>{442,336}</string>
            </dict>
            <key>lb_MobileLobby_Neon.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,571},{80,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,146}}</string>
                <key>sourceSize</key>
                <string>{80,146}</string>
            </dict>
            <key>lb_MobileLobby_Pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,339},{156,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,230}}</string>
                <key>sourceSize</key>
                <string>{156,230}</string>
            </dict>
            <key>lb_MobileLobby_Wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{122,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,226}}</string>
                <key>sourceSize</key>
                <string>{122,226}</string>
            </dict>
            <key>lb_MobileLobby_slots.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,339},{296,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,114}}</string>
                <key>sourceSize</key>
                <string>{296,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LB_ClassicLobbyAtlas_mb.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b83aef2c8e6cb1f6c91c1736e4f651:dc983938e42c2bfb78c4a3fc124ff4c1:7389e9f74c4720cfe1e3f5981592c6f2$</string>
            <key>textureFileName</key>
            <string>LB_ClassicLobbyAtlas_mb.png</string>
        </dict>
    </dict>
</plist>
