<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mb_test_slotentry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{234,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,474}}</string>
                <key>sourceSize</key>
                <string>{234,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mb_SlotEntryTestAtlas.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a173d2f8ac7383c989796e69d942eb:5fe7cf936498c5272e70090a7f740784:e2dfaf5fe5d42236aa3a62ce89fd5549$</string>
            <key>textureFileName</key>
            <string>mb_SlotEntryTestAtlas.png</string>
        </dict>
    </dict>
</plist>
